
\.DS_Store


images/isa\.jpg
website/node_modules/
__pycache__/

user\.png

userk\.png

frame100\.jpg

frame103\.jpg

frame104\.jpg

frame106\.jpg

frame108\.jpg

frame11\.jpg

frame12\.jpg

frame14\.jpg

frame18\.jpg

frame2\.jpg

frame22\.jpg

frame25\.jpg

frame26\.jpg

frame31\.jpg

frame35\.jpg

frame36\.jpg

frame37\.jpg

frame40\.jpg

frame41\.jpg

frame46\.jpg

frame5\.jpg

frame51\.jpg

frame52\.jpg

frame57\.jpg

frame58\.jpg

frame63\.jpg

frame64\.jpg

frame7\.jpg

frame71\.jpg

frame77\.jpg

frame78\.jpg

frame85\.jpg

frame92\.jpg
