<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Experience Design Project 2018</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Material Design Bootstrap -->
  <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-icon.css') }}">
  <link href="http://it.allfont.net/allfont.css?fonts=garamond" rel="stylesheet" type="text/css" />
  <link href="http://it.allfont.net/allfont.css?fonts=garamond-bold" rel="stylesheet" type="text/css" />
  <link href="http://it.allfont.net/allfont.css?fonts=garamond-black" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <!-- header section -->
  <section class="banner" role="banner">
    <nav class="navbar-expand-lg navbar-dark" id="header">
      <div class="header-content clearfix">
        <a class="logo navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togglerNavbar" aria-controls="togglerNavbar"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigation" id="togglerNavbar" style="margin-top: 10px;">
          <ul class="nav navbar-nav mr-auto mt-lg-0">
            <li><a href="#project">Project</a></li>
            <li><a href="#algorithm">Experiment</a></li>
            <li><a href="#museum">Museum</a></li>
            <li><a href="#teams">Team</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- banner text -->
    <div class="container">
      <div class="col-md-12">
        <div class="banner-text text-center">
          <h1><img src="{{ url_for('static', filename='images/facetoface2.png') }}" alt=""></h1>
          <p>Experience design 2018</p>
          <nav role="navigation"> <a href="#project" class="banner-btn"><img src="{{ url_for('static', filename='images/down-arrow.png') }}"
                alt=""></a></nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>
  <!-- header section -->
  <section id="project" class="section intro no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators" style="margin-left: 50%; margin-right:0; padding-bottom: 2%;">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="media d-block d-md-flex">
                    <img class="d-flex avatar mx-auto img-fluid" src="{{ url_for('static', filename='images/manifesto3.jpg') }}"
                      alt="">
                  </div>
                </div>
                <div class="col">
                  <blockquote>
                    <h1 class="black-title-capitalize">ART IS WATCHING YOU.</h1>
                    <p>Reverse your perspective: for once the artwork will look at you like you’re a work of art.
                      <b>The paintings have eyes</b>. Create your own path following your emotions, making your
                      experience in the museum unique. <b>Let your feelings guide you</b>.</p>
                    <p>We intend to <b>analyse and record feelings</b> and emotions in visitors of different age, sex
                      and
                      cultural background in front of various paintings and investigate the way they look at artworks.
                      The <b>aim is to set a specific path</b>, museum design and succession of depictions based on a
                      precise sequence of feelings that the viewer or even the
                      organiser of the exhibition wants to evoke.</p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="media d-block d-md-flex">
                    <img class="d-flex avatar mx-auto img-fluid img-gradient-overlay" src="{{ url_for('static', filename='images/intro-liu.jpg') }}"
                      alt="">
                  </div>
                </div>
                <div class="col">
                  <blockquote>
                    <h1 class="black-title-capitalize">Liu Bolin</h1>
                    <p>For our research we have chosen one particular exhibition (Liu Bolin - <b>Le Théâtre des
                        apparences</b>) because his work is not too well known to interfere with the recording of
                      visitors’ impressions and it’s at the same time various (in terms of atmosphere of the work),
                      curious for most of the visitors and <b>unconventional</b>.</p>
                    <p>Emotions often burst out in a more or less evident way and we will try to catch what the
                      visitor’s
                      face says about what they’re feeling. <b>Facial recognition</b> allows to know which emotions can
                      be linked to a specific artwork in order to define a <b>global range of feelings</b> for a
                      particular piece of art.</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- about section -->

  <!-- services section -->
  <section class="services service-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-happy"></span>
          <div class="services-content">
            <h5>Analysing visitors’ reactions</h5>
            <p>Thanks to facial recognition it will be possible to trace how people feel in front of an artwork.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-heart"></span>
          <div class="services-content">
            <h5>Rating artworks</h5>
            <p>Rating is done collecting data through direct observation in a digital museum.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"><span class="icon icon-bargraph"></span>
          <div class="services-content">
            <h5>Defining a set of emotions</h5>
            <p>By collecting data it will be possible to "rate" images and put them in different categories based on
              the emotions range we aim to analyse.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-linegraph"></span>
          <div class="services-content">
            <h5>Emotional oriented path</h5>
            <p>Thanks to categories, eventually, we can create an algorithm of how the paintings sequence should be
              according to the swing of emotions we want to reach.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-tools"></span>
          <div class="services-content">
            <h5>Designing of physical museum</h5>
            <p>The physical exhibition should go along with feelings and thus be coherent and reinforce paintings
              through the use of spacial conformational escamotages.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-target"></span>
          <div class="services-content">
            <h5>OUR GOAL</h5>
            <p>What we aim to do is emphasising this feeling centred attention and let the visitors embrace the essence
              of
              the exhibition.</p>
          </div>
        </div>
      </div>
      <p class="description-project">Be the curator of your own emotions!</p>
    </div>
  </section>
  <!-- services section -->

  <!-- about section -->
  <section id="algorithm" class="section database no-padding">
    <div class="container-fluid" id="experiment-container">
      <div class="row no-gutter align-items-center">
        <div class="col-md-6" style="height: 100%">
          <div class="card sunny-morning-gradient" style="height: 100%">
            <div class="view" id="cardPingu">
              <img src="{{ url_for('static', filename='images/pingu.jpg') }}" class="card-img-top img-gradient-overlay"
                alt="photo">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title white-text">Emotion recognition</h4>
              <p class="card-text white-text" style="text-align: justify;">
                Run the experiment online to compare your emotions-score with the global one. For every painting we
                will detect a set of emotions such as anger, contempt, disgust, fear, happiness, neutral, sadness, and
                surprise.
              </p>
              <p class="card-text white-text" style="text-align: justify;">
                Are you ready? <b>Click</b> on the button on the right!</p>
              <!-- <a href="#" class="btn btn-outline-white btn-md waves-effect" id="experiment">Detect your score</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-6" id="wrapCluster">
          <img id="img-museum" src="{{ url_for('static', filename='images/museum.jpg') }}" class="img-gradient-overlay"
            alt="Museum">
          <a href="#" class="btn sunny-morning-gradient btn-md waves-effect" id="experiment">Detect your score</a>
        </div>
      </div>
    </div>
  </section>
  <!-- about section -->

  <!-- CAROUSEL IMAGES -->
  <div id="carouselImages" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" id="container-bolin">
    </div>
  </div>
  <!-- CAROUSEL IMAGES -->


  <!-- Get a quote section -->
  <section id="museum" class="section quote">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-2 text-center">
          <h5>1st Floor</h5>
          <!-- <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="selectFloor" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Floor
            </button>
            <div class="dropdown-menu" aria-labelledby="selectFloor">
              <a class="dropdown-item active">1st Floor</a>
              <a class="dropdown-item">2nd Floor</a>
            </div>
          </div> -->
        </div>
        <!-- <div class="col-md-8 col-md-offset-2 text-center"> -->
        <div class="col-md-7 text-center">
            <!-- <div class="loader medium"></div> -->
            <div id="imagePath">
                <img src="{{ url_for('static', filename='images/path.jpg') }}" id="pathGenerated" alt="Path of museum" style="width: 60%;">
            </div>
        </div>
        <div class="col-md-3 text-center">
          <h5 style="margin-bottom: 30px;">Emotions selector:</h5>

          <div class="row range-field">
            <div class="col">
              <input type="range" id="anger" min="0" max="100" />
            </div>
            <div class="col-1">
              <p id="angerValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:15px;">Anger</p>
            </div>
          </div>

          <div class="row range-field">
            <div class="col">
              <input id="fear" type="range" min="0" max="100" />
            </div>
            <div class="col-1">
              <p id="fearValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:5px;">Fear</p>
            </div>
          </div>


          <div class="row range-field">
            <div class="col">
              <input id="disgust" type="range" min="0" max="100">
            </div>
            <div class="col-1">
              <p id="disgustValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:20px;">Disgust</p>
            </div>
          </div>

          <div class="row range-field">
            <div class="col">
              <input id="contempt" type="range" min="0" max="100">
            </div>
            <div class="col-1">
              <p id="contemptValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:20px;">Contempt</p>
            </div>
          </div>

          <div class="row range-field">
            <div class="col">
              <input id="happiness" type="range" min="0" max="100">
            </div>
            <div class="col-1">
              <p id="happinessValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:20px;">Happiness</p>
            </div>
          </div>

          <div class="row range-field">
            <div class="col">
              <input id="sadness" type="range" min="0" max="100">
            </div>
            <div class="col-1">
              <p id="sadnessValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:20px;">Sadness</p>
            </div>
          </div>


          <div class="row range-field">
            <div class="col">
              <input id="surprise" type="range" min="0" max="100">
            </div>
            <div class="col-1">
              <p id="surpriseValue" class="percent-emotions">50%</p>
            </div>
            <div class="col-4">
              <p class="percent-emotions" style="padding-left:20px;">Surprise</p>
            </div>
          </div>

          <a href="#" class="btn sunny-morning-gradient btn-large" id="generatePath">Generate</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Get a quote section -->

  <!-- Testimonials section -->
  <section id="testimonials" class="section testimonials no-padding sunny-morning-gradient">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row justify-content-md-center align-items-center">
                <!-- <div class="col-lg-2"> -->
                <!-- <div class="media d-block d-md-flex reduce-80"> -->
                <!-- <img class="d-flex rounded-circle avatar z-depth-1-half mb-2 mx-auto img-fluid" src="{{ url_for('static', filename='images/giordanoc.jpg') }}"
                      alt=""> -->
                <!-- </div> -->
                <!-- </div> -->
                <div class="col-md-7">
                  <blockquote>
                    <h1 class="text-justify">PROJECT: THE AUGMENTED MUSEUM <br> <br>
                      Today's museums are undergoing a significant process of reconceptualization, seeking new ways to
                      curate and present their collections in both physical and digital spaces. These hybrid spaces of
                      engagement need to be well synchronized to ensure a seamless and meaningful experience for the
                      visitors. How does one design for a personalized experience according to the specificities of the
                      museums' collections? We have worked with a real museum or gallery and their physical and digital
                      collections and help prototype innovative digital interfaces for exploring their collections.
                    </h1>
                    <div class="row">
                      <div class="col-md-6" style="padding-left: 2%">
                        <p style="text-align: left;">Professor: Huang Jeffrey</p>
                      </div>
                      <div class="col-md-6" style="padding-right: 2%">
                        <p style="text-align: right;">Teaching Assistant: Immanuel Koh</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials section -->

  <!-- our team section -->
  <section id="teams" class="section teams">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/skander.jpg') }}" alt="" class="img-gradient-overlay d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Skander Hajri</h4>
              <h5 class="role">Computer Science</h5>
              <p style="text-align: justify;">Computer Science student at EPFL, not Italian by birth but Italian by
                adoption. Likes olive oil, especially on bruschetta.</p>
            </div>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/licia.jpg') }}" alt="" class="img-gradient-overlay d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Licia Tomaselli</h4>
              <h5 class="role">Architecture</h5>
              <p style="text-align: justify;">Architecture exchange student at EPFL, always around informatics
                though. Has a Facebook account just to look at kittens.</p>
            </div>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/costanza.jpg') }}" alt="" class="img-gradient-overlay d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Costanza Volpini</h4>
              <h5 class="role">Computer Science</h5>
              <p style="text-align: justify;">Always mistaken for an architecture student is, in fact, in the
                Computer Science field. Has an addiction for all kinds of bento box.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- our team section -->

  <!-- MODALS IMAGES -->
  <!-- Central Modal Small -->
  <div id="modalsBulin">
  </div>

  <!-- Modal Video shows -->
  <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Experiment in progress! (To close: ESC, arrow left and right)</h4>
          <button type="button" id="closeVideo" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <div class="embed-responsive embed-responsive-16by9 z-depth-1-half"> -->
            <!-- <iframe class="embed-responsive-item" id="videoBoulin" src="{{ url_for('static', filename='videos/1.mp4') }}"
              allowfullscreen></iframe> -->
          <!-- </div> -->

          <div id="slideShowExperiment" class="carousel slide" data-ride="carousel">
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalResultExperiment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Experiment in progress!</h4>
          <button type="button" id="closeVideo" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="resultExperiment"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCredits" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCredits"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabelCredits">Credits</h4>
          <button type="button" id="closeVideo" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li><a href="http://www.designstub.com/"style="color:#fea47e;">Flosix Inc. Designstub</a></li>
            <li><a href="https://mdbootstrap.com"style="color:#fea47e;">MDBootstrap</a></li>
            <li><a href="https://getbootstrap.com/"style="color:#fea47e;">Bootstrap</a></li>
            <li><a href="https://fontawesome.com/"style="color:#fea47e;">Fontawesome</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <h5 class="col text-uppercase font-weight-bold" style="text-align: center;">
          EXPERIENCE DESIGN (Fall Semester 2018)
        </h5>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2018 Copyright: Costanza Volpini, Licia Tomaselli and Skander Hajri
      <p class="pt-3" style="font-size: 12px;"><a style="color:#9ea3a9" data-toggle="modal" data-target="#modalCredits">CREDITS</a></p>
    </div>
  </footer>

  <!-- JS FILES -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/retina.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>