<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Experience Design Project 2018</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Material Design Bootstrap -->
  <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-icon.css') }}">
  <link href="http://it.allfont.net/allfont.css?fonts=garamond" rel="stylesheet" type="text/css" />
  <link href="http://it.allfont.net/allfont.css?fonts=garamond-bold" rel="stylesheet" type="text/css" />
  <link href="http://it.allfont.net/allfont.css?fonts=garamond-black" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <!-- header section -->
  <section class="banner" role="banner">
    <!--header navigation -->
    <header id="header">
      <div class="header-content clearfix"> <a class="logo" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}"
            alt=""></a>
        <nav class="navigation" role="navigation">
          <ul class="primary-nav">
            <li><a href="#project">Project</a></li>
            <li><a href="#database">Algorithm</a></li>
            <li><a href="#works">Database</a></li>
            <li><a href="#teams">Museum</a></li>
            <li><a href="#testimonials">#Social</a></li>
            <li><a href="#contact">Team</a></li>
          </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
      </div>
    </header>
    <!--header navigation -->
    <!-- banner text -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">
          <h1><img src="{{ url_for('static', filename='images/facetoface2.png') }}" alt=""></h1>
          <p>Experience design 2018</p>
          <nav role="navigation"> <a href="#project" class="banner-btn"><img src="{{ url_for('static', filename='images/down-arrow.png') }}"
                alt=""></a></nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>
  <!-- header section -->
  <!-- about section -->
  <!-- <section id="project" class="section intro no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                  <div class="avatar"> <img src="{{ url_for('static', filename='images/manifesto3.jpg') }}" alt=""
                      class="img-responsive">
                  </div>
                </div>
                <div class="col col-lg-6">
                  <blockquote>
                    <h1 class="black-title-capitalize">ART IS WATCHING YOU.</h1>
                    <p>Reverse your perspective: for once the artwork will look at you like you’re a work of art.
                      <b>The paintings have eyes</b>. Create your own path following your emotions, making your
                      experience in the museum unique. <b>Let your feelings guide you</b>.</p>
                    <p>We intend to <b>analyse and record feelings</b> and emotions in visitors of different age, sex
                      and
                      cultural background in front of various paintings and investigate the way they look at artworks.
                      The <b>aim is to set a specific path</b>, museum design and succession of depictions based on a
                      precise sequence of feelings that the viewer or even the
                      organiser of the exhibition wants to evoke.</p>
                  </blockquote>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                  <div class="avatar"> <img src="{{ url_for('static', filename='images/intro-liu.jpg') }}" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col col-lg-6">
                  <blockquote>
                    <h1 class="black-title-capitalize">Liu Bolin</h1>
                    <p>For our research we have chosen one particular exhibition (Liu Bolin - <b>Le Théâtre des
                        apparences</b>) because his work is not too well known to interfere with the recording of
                      visitors’ impressions and it’s at the same time various (in terms of atmosphere of the work),
                      curious for most of the visitors and <b>unconventional</b>.</p>
                    <p>Emotions often burst out in a more or less evident way and we will try to catch what the
                      visitor’s
                      face says about what they’re feeling. <b>Facial recognition</b> allows to know which emotions can
                      be linked to a specific artwork in order to define a <b>global range of feelings</b> for a
                      particular piece of art.</p>
                  </blockquote>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->

  <section id="project" class="section intro no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
          <div id="carousel-example-1z"  class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators" style="margin-left: 50%; margin-right:0; padding-bottom: 2%;">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <div class="row justify-content-md-center">
                      <div class="col">
                        <div class="media d-block d-md-flex">
                            <img class="d-flex avatar mx-auto img-fluid" src="{{ url_for('static', filename='images/manifesto3.jpg') }}"
                              alt="">
                          </div>
                      </div>
                      <div class="col">
                        <blockquote>
                          <h1 class="black-title-capitalize">ART IS WATCHING YOU.</h1>
                          <p>Reverse your perspective: for once the artwork will look at you like you’re a work of art.
                            <b>The paintings have eyes</b>. Create your own path following your emotions, making your
                            experience in the museum unique. <b>Let your feelings guide you</b>.</p>
                          <p>We intend to <b>analyse and record feelings</b> and emotions in visitors of different age, sex
                            and
                            cultural background in front of various paintings and investigate the way they look at artworks.
                            The <b>aim is to set a specific path</b>, museum design and succession of depictions based on a
                            precise sequence of feelings that the viewer or even the
                            organiser of the exhibition wants to evoke.</p>
                        </blockquote>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-md-center">
                        <div class="col">
                          <div class="media d-block d-md-flex">
                              <img class="d-flex avatar mx-auto img-fluid" src="{{ url_for('static', filename='images/intro-liu.jpg') }}"
                                alt="">
                            </div>
                        </div>
                        <div class="col">
                          <blockquote>
                            <h1 class="black-title-capitalize">Liu Bolin</h1>
                            <p>For our research we have chosen one particular exhibition (Liu Bolin - <b>Le Théâtre des
                                apparences</b>) because his work is not too well known to interfere with the recording of
                              visitors’ impressions and it’s at the same time various (in terms of atmosphere of the work),
                              curious for most of the visitors and <b>unconventional</b>.</p>
                            <p>Emotions often burst out in a more or less evident way and we will try to catch what the
                              visitor’s
                              face says about what they’re feeling. <b>Facial recognition</b> allows to know which emotions can
                              be linked to a specific artwork in order to define a <b>global range of feelings</b> for a
                              particular piece of art.</p>
                          </blockquote>
                        </div>
                      </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </section>

  <!-- about section -->

  <!-- services section -->
  <section class="services service-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-happy"></span>
          <div class="services-content">
            <h5>Analysing visitors’ reactions</h5>
            <p>Thanks to facial recognition it will be possible to trace how people feel in front of an artwork.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-heart"></span>
          <div class="services-content">
            <h5>Rating artworks</h5>
            <p>Rating is done collecting data through direct observation in a digital museum.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"><span class="icon icon-bargraph"></span>
          <div class="services-content">
            <h5>Defining a set of emotions</h5>
            <p>By collecting data it will be possible to "rate" images and put them in different categories based on
              the emotions range we aim to analyse.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-linegraph"></span>
          <div class="services-content">
            <h5>Emotional oriented path</h5>
            <p>Thanks to categories, eventually, we can create an algorithm of how the paintings sequence should be
              according to the swing of emotions we want to reach.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-tools"></span>
          <div class="services-content">
            <h5>Designing of physical museum</h5>
            <p>The physical exhibition should go along with feelings and thus be coherent and reinforce paintings
              through the use of spacial conformational escamotages.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-target"></span>
          <div class="services-content">
            <h5>OUR GOAL</h5>
            <p>What we aim to do is emphasising this feeling centred attention and let the visitors embrace the essence
              of
              the exhibition.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services section -->

  <!-- about section -->
  <section id="database" class="section database no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-6">
          <!-- DRAG AND DROP to upload image-->
          <!-- JS: https://bootsnipp.com/snippets/exvN8 !!! -->
          <form id="file-upload-form" class="uploader">
            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
            <label for="file-upload" id="file-drag">
              <img id="file-image" src="#" alt="Preview" class="hidden">
              <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div style="font-family: Source Sans Pro; font-weight: 500" ;>Select a file or drag here</div>
                <div id="notimage" class="hidden">Please select an image</div>
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
              </div>
              <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                  <span>0</span>%
                </progress>
              </div>
            </label>
          </form>
        </div>
        <div class="col-md-6">
          <div id="photo-reaction" class="media">
            <img src="{{ url_for('static', filename='images/pingu.png') }}" alt="" class="d-flex align-self-center mr-3"
              style="max-width: 60%; padding: 3% 0% 2% 0%; margin: auto;">
            </blockquote>
          </div>
        </div>
      </div>
  </section>
  <!-- about section -->

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->

      <div class="carousel-item active">
        <div class="row no-gutter">
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin1.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work" data-toggle="modal" data-target="#modalPainting"> <img src="{{ url_for('static', filename='images/bolin2.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin3.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin4.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin5.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin7.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row no-gutter">
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin5.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin6.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin7.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin4.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin5.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin7.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="row no-gutter">
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin1.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin2.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin3.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin4.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin5.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="{{ url_for('static', filename='images/cluster.png') }}"
              class="work-box"> <img src="{{ url_for('static', filename='images/bolin7.jpg') }}" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p><span class="icon icon-magnifying-glass"></span></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!--/Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->


  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-2 text-center">
          <h5>1st Floor</h5>
        </div>
        <!-- <div class="col-md-8 col-md-offset-2 text-center"> -->
        <div class="col-md-7 text-center">
          <img src="{{ url_for('static', filename='images/giorda.jpg') }}" alt="" style="width: 60%;">
        </div>
        <div class="col-md-3 text-center">
            <h5 style="margin-bottom: 30px;">Emotions selector:</h5>
            <form class="range-field">
              <i class="far fa-flushed" aria-hidden="true">
                <input id="flushed" type="range" min="0" max="100" />
              </i>
            </form>
            <form class="range-field">
              <i class="far fa-frown" aria-hidden="true">
                <input id="frown" type="range" min="0" max="100" />
              </i>
            </form>
            <form class="range-field">
              <i class="far fa-grin-alt" aria-hidden="true">
                <input id="grin" type="range" min="0" max="100" />
              </i>
            </form>
            <form class="range-field">
              <i class="far fa-surprise" aria-hidden="true">
                <input id="surprise" type="range" min="0" max="100" />
              </i>
            </form>
            <a href="#" class="btn btn-large">Generate</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Get a quote section -->

  <!-- Testimonials section -->
  <section id="testimonials" class="section testimonials no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row justify-content-md-center align-items-center">
                <div class="col-lg-2">
                  <div class="media d-block d-md-flex reduce-80">
                    <img class="d-flex rounded-circle avatar z-depth-1-half mb-2 mx-auto img-fluid" src="{{ url_for('static', filename='images/giordanoc.jpg') }}"
                      alt="">
                  </div>
                </div>
                <div class="col-md-7">
                  <blockquote>
                    <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                      Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
                    <p>Giordano C.</p>
                  </blockquote>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-md-center align-items-center">
                <div class="col-lg-2">
                  <div class="media d-block d-md-flex reduce-80">
                    <img class="d-flex rounded-circle avatar z-depth-1-half mb-2 mx-auto img-fluid" src="{{ url_for('static', filename='images/riccardo.jpg') }}"
                      alt="">
                  </div>
                </div>
                <div class="col-md-7">
                  <blockquote>
                    <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                      Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
                    <p>Riccardo S.</p>
                  </blockquote>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-md-center align-items-center">
                <div class="col-lg-2">
                  <div class="media d-block d-md-flex reduce-80">
                    <img class="d-flex rounded-circle avatar z-depth-1-half mb-2 mx-auto img-fluid" src="{{ url_for('static', filename='images/viola.jpg') }}"
                      alt="">
                  </div>
                </div>
                <div class="col-md-7">
                  <blockquote>
                    <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                      Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
                    <p>Viola P.</p>
                  </blockquote>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials section -->

  <!-- our team section -->
  <section id="teams" class="section teams">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/skander.jpg') }}" alt="" class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Skander Hajri</h4>
              <h5 class="role">Computer Science</h5>
              <p style="text-align: justify;">Computer Science student at EPFL, not Italian by birth but Italian by
                adoption. Likes olive oil, especially on bruschetta.</p>
            </div>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/licia.jpg') }}" alt="" class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Licia Tomaselli</h4>
              <h5 class="role">Architect</h5>
              <p style="text-align: justify;">Architecture exchange student at EPFL, always around informatics
                though. Has a Facebook account just to look at kittens.</p>
            </div>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="row justify-content-md-center">
            <div class="media d-block d-md-flex reduce-80">
              <img src="{{ url_for('static', filename='images/costanza.jpg') }}" alt="" class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto img-fluid">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="person-content">
              <h4>Costanza Volpini</h4>
              <h5 class="role">Computer Science</h5>
              <p style="text-align: justify;">Always mistaken for an architecture student is, in fact, in the
                Computer Science field. Has an addiction for all kinds of bento box.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- our team section -->

  <!-- MODALS IMAGES -->
  <!-- Central Modal Small -->
<div class="modal fade" id="modalPainting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <canvas id="radarChart"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Central Modal Small -->

    <!-- Footer -->
<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase font-weight-bold">EXPERIENCE DESIGN (Fall Semester 2018)</h5>
          <p class="text-justify">Experience design in practice encompasses the collection, analysis and design of users experiences based on a deep understanding of the context concerned. However, such typical workflow tends to be labor-intensive, time-consuming and limited (or biased) given the small datasets used. We have automated these processes algorithmically using crowd-sourced datasets and machine learning techniques, to rapidly visualize and iterate on multiple design experience options. The goal is to create a meaningful, interactive, data-driven/AI-assisted digital interface and physical prototype that are to be staged at an exhibition.</p>
          <div class="row justify-content-between">
              <div class="col-6 text-left">Professor: Huang Jeffrey</div>
              <div class="col-6 text-right">Teaching Assistant: Immanuel Koh</div>
            </div>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold">Project: The Augmented Museum</h5>
          <p class="text-justify">Today's museums are undergoing a significant process of reconceptualization, seeking new ways to curate and present their collections in both physical and digital spaces. These hybrid spaces of engagement need to be well synchronized to ensure a seamless and meaningful experience for the visitors. How does one design for a personalized experience according to the specificities of the museums' collections? We have worked with a real museum or gallery and their physical and digital collections and help prototype innovative digital interfaces for exploring their collections. </p>
        </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2018 Copyright: Costanza Volpini, Licia Tomaselli and Skander Hajri
      <p>Credits: Flosix Inc. <a href="http://www.designstub.com/">Designstub</a></p>
    </div>
  </footer>

  <!-- JS FILES -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/retina.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>